@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header{
    background-color: rgb(10, 80, 10);
    border-radius: 10px;
}

.you{
    display: flex;
    width: 100%;
    padding: 10px;
     align-items: center;
     justify-content: center;
     flex-direction: column-reverse;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

nav a{
    text-decoration: none;
    color: azure;
}

footer{
    background-color: rgb(12, 98, 179);
    border-radius: 10px;
    padding: 10px;
}
footer p{
    color: azure;
}




body{
    background-color: rgb(4, 155, 79);
}

.card{
    margin: 20px;
    width: 400px;
    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #cccc;
    font-family: "Lato", sans-serif;
    
}


.tarjeta{
    
    display: flex;
    
    }

    .card-content{
        padding: 15px;
    }

    .card img{

        width: 100%;
        
        }
        .card:hover{
            background-color: navy;
            transform: scale(1.02);
            
            }
            .card .footer{

                padding: 25px;
                text-align: center;
            
            }


            .tarjeta{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
            }

          nav li{
            text-align: center;
          }
        
          .texto{
            text-align: center;
          }

          footer{
            text-align: center;
          }